@import '../../../styles/settings.scss';

.root {
  padding-top: 46px;
  text-align: center;
  color: white;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  z-index: -1;
  position: relative;

  h1 {
    font-family: $main-font;
    font-size: 5em;
  }

  .name {
    color: $primary-color;
    font-weight: bold;
    text-shadow: 3px 3px #410101;
  }
}

@media screen and (max-width: 600px) {
  .root {
    padding-top: 0;
    h1 {
      font-size: 1.7em;
    }
  }
}